<#@template language="c#" hostspecific="true"#>
<#@output extension=".config"#>
<#@parameter type="System.String" name="ManagedSDKVersion"#>
<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Azure.Mobile.Client" version="<#= ManagedSDKVersion #>" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
</packages>